html.weekly {
  overflow-y: hidden;
}
#dimmed_weekly {
  width: 100%;
  position: fixed;
  height: 100%;
  overflow: auto;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.8);
  z-index: 99999;
}
#container_weekly {
  position: absolute;
  right: 0;
  top: 0;
  width: 440px;
  min-height: 100%;
  padding: 20px;
  background: white;
}
.infomation_weekly {
  position: relative;
  display: inline-block;
  width: 200px;
}
.infomation_weekly > h1 {
  margin: 0 0 10px 0;
}
.infomation_weekly > article > div > ul {
  margin: 0;
  padding: 14px;
list-style-type: decimal;
}
.infomation_weekly > article > div > ul > li {
  word-break: break-all;
}
.form_weekly {
  position: fixed;
  top: 0;
  right: 40px;
  margin: 54px 0 0 0;
}
.form_weekly::after {
  content: '';
  display: table;
  clear: both;
}
.form_weekly > article > input {
  width: 100px;
  margin: 0 0 10px 0;
}
.form_weekly > article > button {
  width: 50px;
  height: 26px;
  background-color: #fff;
  border: 1px solid rgb(238, 238, 238);
  vertical-align: top;
}
.form_weekly > article > .time_weekly {
  margin: 0 0 5px 0;
}
.form_weekly > article > .time_weekly > input {
  width: 114px;
}
