.container_weekly {
  display: flex;
  -webkit-display: flex;
  width: 500px;
  .listContainer_weekly {
    width: 50%;
  }
  .inputContainer_weekly {
    flex: 1;
    -webkit-flex: 1;
    section {
      .time {
        margin: 0 0 5px 0;
        input {

        }
      }
      textarea {
        width: 200px;
        margin: 0 0 10px 0;
      }
    }
  }
}
